*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 14px;
}
body, input {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
label, input[type=submit], summary {
  cursor: pointer;
  user-select: none;
}
.hide {
  display: none;
}

summary {
  max-width: 100%;
  width: max-content;
}
details {
  margin: .5em 0 0;
}
label {
  align-items: flex-start;
  display: flex;
}
fieldset {
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
}
#basic_search {
  display: flex;
  gap: 1em;

  input[type=search] {
    flex: auto;
  }

  input[type=submit] {
    width: 10em;
  }
}
#days_of_week {
  grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
}
#activities_filter {
  margin: .5em 0 0;
}
#activity_hide_keywords {
  width: 100%;
}
#results {
  margin: 1em 0;
  overflow-x: scroll;
}
table {
  border-spacing: 0;
  white-space: nowrap;
}
table, th, td {
  border: .5px solid #CCC;
}
th, td {
  padding: .2em .3em;
}
th {
  text-align: left;
  
  &[onclick] {
    cursor: pointer;

    &::after {
      color: transparent;
      content: '▲';
    }
  }
}
th[data-order=asc]::after {
  color: inherit;
  content: '▲';
}
th[data-order=desc]::after {
  color: inherit;
  content: '▼';
}
thead tr {
  background: #BBB
}
tbody tr:nth-child(even) {
  background: #EEE;
}
tbody tr:hover {
  background: aqua;
}
